[Desktop Entry]
Name=Curios Manager Applet
Comment=curios-manager TUI applet for COSMIC DE
Type=Application
Icon=dev.curioslabs.CuriosManagerApplet
Exec=curios-manager-applet
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC;Iced;
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
X-CosmicShrinkable=true
X-OverflowPriority=10
